<div class="all-cities">
        <ul>
        <li><a href="/town/8973">
            {% for city in towns %}
                {{ city.getNameEn }} 
            {% endfor %}
            </a></li>
        </ul>
            сюда еще количество квартир на город
</div>